.features {
  padding:0 8rem;
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 6.5rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem 2rem;

  &__icon {
    fill: $color-primary;
    height: 4rem;
    width: 4rem;
    grid-row: 1 / span 2;
    transform: translatey(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}